@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,900&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Questrial, sans-serif;
  --color-principal: rgb(95, 197, 112);
  --shadow: 5px 5px 5px grey;
  --color-secundario: rgb(238, 236, 234);
}
img {
  filter: drop-shadow(3px 3px 3px var(--color-secundario));
}

body {
  display: grid;
  grid-template-rows: 3rem 5rem 3rem 0.75fr 1.5fr 2rem 2rem;
  min-height: 100vh;
  background-color: var(--color-secundario);
}

header {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  color: var(--color-secundario);
  font-size: 1.1rem;
  box-shadow: 0px 5px 5px grey;
}
.inicio {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-top: 1rem;
  gap: 1rem;
  color: var(--color-principal);
  font-size: 1.3rem;
}

.contador {
  grid-row: 3 / 4;
  font-size: 0.75rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
  font-size: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1.25rem;
  gap: 1rem;
}
ul img {
  filter: drop-shadow(3px 3px 3px rgb(102, 100, 100));
}
ul :nth-child(odd) {
  margin-right: -0.5rem;
}

body > :nth-child(4) {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px var(--color-principal) solid;
  margin-bottom: 1rem;
}

#rgbRandom {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  height: 5rem;
  width: 16rem;
  border: 1px solid rgba(243, 242, 242, 0.041);
  border-radius: 10px 100px / 120px;
  box-shadow: 5px 5px 5px grey;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
}

.muestras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  grid-row: 5 / 6;
}

div {
  height: 5rem;
  width: 5rem;
  border: 1px solid rgba(243, 242, 242, 0.041);
  border-radius: 10px 100px / 120px;
  box-shadow: 5px 5px 5px grey;
  gap: 1rem;
  cursor: pointer;
}

button {
  grid-row: 6/7;
  margin: auto;
  height: 2rem;
  width: 10rem;
  background-color: var(--color-principal);
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px 100px / 120px;
  color: white;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

footer {
  grid-row: 7 / 8;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
}

@media (min-width: 412px) {
  html {
    font-size: 1.25rem;
  }
  #aciertos {
    margin-right: -0.1rem;
  }
  ul :nth-child(1) img {
    height: 2.4rem;
  }
  ul :nth-child(3) img {
    height: 3.8rem;
  }
  .muestras {
    gap: 1rem;
    margin: 1rem;
  }
  div {
    height: 5.5rem;
    width: 5.5rem;
  }
}

@media (min-width: 540px) {
  html {
    font-size: 1.5rem;
  }
}
@media (min-width: 648px) {
  header img {
    height: 1.6rem;
  }
  #aciertos {
    margin-right: 1rem;
  }
  li :nth-child(1) {
    height: 3rem;
  }

  li :nth-child(3) {
    height: 15rem;
  }

  #rgbRandom {
    height: 4rem;
    width: 16rem;
  }
  .muestras {
    margin-left: 3rem;
    margin-right: 3rem;
    gap: 2rem;
  }
}

@media (min-width: 820px) {
  .muestras {
    margin-left: 7rem;
    margin-right: 7rem;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  body {
    grid-template-rows: 3rem 3rem 1rem 1fr 1fr 2rem 2rem;
  }

  header img {
    height: 1.75rem;
  }
  ul {
    padding-top: 3rem;
  }
  body > :nth-child(4) {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px var(--color-principal) solid;
  }
  #rgbRandom {
    height: 5rem;
    width: 18rem;
  }
  .muestras {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
  }
  div {
    margin-bottom: 1rem;
    height: 6rem;
    width: 6rem;
  }
}
