@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Questrial, sans-serif;
  --color-principal: rgb(14, 194, 201);
  --shadow: 5px 5px 5px grey;
  --color-secundario: rgb(238, 235, 235);
}
body {
  display: grid;
  grid-template-rows: 3rem 4rem 2rem 0.75fr 1.5fr 2rem 2rem;
  min-height: 100vh;
  background-color: var(--color-secundario);
}
header {
  grid-row: 1/2;
  background-color: var(--color-principal);
  color: var(--color-secundario);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px grey;
}
#gif {
  position: fixed;
  height: 50vh;
  width: 50vh;
}
.inicio {
  margin: 1rem;
  padding-top: 1rem;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  color: var(--color-principal);
  font-size: 1.1rem;
}

body > :nth-child(4) {
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px var(--color-principal) solid;
}

#rgbRandom {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  height: 5rem;
  width: 15rem;
  border: 1px solid rgba(34, 33, 33, 0.5);
  border-radius: 10px 100px / 120px;
  box-shadow: 5px 5px 5px grey;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
}

.contador {
  grid-row: 3 / 4;
  font-size: 0.75rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
  font-size: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1.25rem;
  gap: 5rem;
}

.muestras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  grid-row: 5 / 6;
}

div {
  height: 5rem;
  width: 5rem;
  border: 1px solid rgba(243, 242, 242, 0.041);
  border-radius: 10px 100px / 120px;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}

button {
  grid-row: 6/7;
  margin: auto;
  height: 2rem;
  width: 10rem;
  background-color: var(--color-principal);
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px 100px / 120px;
  color: white;
  border: none;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

footer {
  grid-row: 7 / 8;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-principal);
}

@media (min-width: 412px) {
  html {
    font-size: 1.25rem;
  }
  .muestras {
    gap: 1rem;
    margin: 1rem;
  }
  div {
    height: 5.5rem;
    width: 5.5rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.75rem;
  }

  .muestras {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  div {
    height: 6rem;
    width: 6rem;
    box-shadow: 7px 7px 7px grey;
  }

  #rgbRandom {
    height: 5rem;
    width: 15rem;
  }
}

@media (min-width: 912px) {
  html {
    font-size: 2.3rem;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 1.5rem;
  }

  body {
    grid-template-rows: 3rem 4rem 1rem 1fr 1fr 2rem 2rem;
  }

  body > :nth-child(4) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px var(--color-principal) solid;
  }

  #rgbRandom {
    height: 5rem;
    width: 17rem;
    border: 1px solid rgba(34, 33, 33, 0.5);
    border-radius: 10px 100px / 120px;
    box-shadow: 5px 5px 5px grey;
    justify-content: center;
    align-items: center;
  }

  div {
    margin-bottom: 1rem;
    height: 5.5rem;
    width: 5.5rem;
  }
}
